* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to top left, rgb(255,0 , 0, 0), rgb(23, 68, 218));
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
}

.container {
    background-color: rgb(255, 255, 255); 
    display: flex;
    justify-content: center;
    max-width: 450px;
    padding: 20px;
    margin: 30px;
    border-radius: 18px;
}

h2 {
    color: rgb(15, 53, 179);
    font-size: 2em;
    margin-bottom: 20px;

}

.input-group input {
    margin-bottom: 15px;
    border: none;
    padding: 1.2em;
    border-radius: 8px;
    background-color: rgb(219, 219, 219);
}

.buttons {
    display: flex;
    justify-content: space-between;
}

#login-btn, #cadastro-btn {
    color: #fff;
    background: rgb(23, 68, 218);
    padding: 1em;
    border-radius: 8px;
    border: none;
}

#login-btn:hover, #cadastro-btn:hover {
    transition: ;
}
