* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to top left, #fff, #1744DA);
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
}

.container {
    background: #fff; 
    width: 90%;
    max-width: 400px;
    padding: 2em;
    border-radius: 10px;
}

.login-form h2 {
    text-align: center;
    color: #1744DA;
    font-size: 1.5em;
    margin-bottom: 15px;
}

.input-group {
    position: relative;
    margin-bottom: 1.5rem;
}

.input-group input {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: solid 1px #ddd;
    cursor: pointer;
    outline: none;
}

.input-group label {
    background-color: #fff;
    color: #999;
    position: absolute;
    top: 50%;
    left: 10px;
    padding: 0 5px;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}

.input-group input:focus + label,
.input-group input:valid + label {
    top: 0;
    font-size: 12px;
    color: #667eea;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

#login-btn, #cadastro-btn {
    padding: 1em;
    border-radius: 5px; 
    transition: background 0.2s ease;
    cursor: pointer;
    border: none;
}

.buttons #login-btn {
    color: #fff;
    background: rgb(23, 68, 218);
}

.buttons #cadastro-btn {
    color: rgb(23, 68, 218);
    background: #fff;
    border: solid 1px;
}

#login-btn:hover {
    background: rgb(3, 44, 179);
}

#cadastro-btn:hover {
    background: #dadada;
}